<% include partials/header %>

<h1>This is the home page!</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Tricolor_Coton_Puppy.jpg/280px-Tricolor_Coton_Puppy.jpg">

<% include partials/footer %>