<!DOCTYPE html>
<html>
	<head lang="en-US">
		<title>Blog App</title>
		<meta charset="UTF-8">
		<meta name="description" content="MEAN Blog">
		<meta name="keywords" content="HTML,CSS,XML,JavaScript">
		<meta name="author" content="Clint Winter">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
	
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="code icon"></i>Blog</div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
			</div>
		</div>